body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h4,
p {
  margin: 0;
}

h1 {
  padding: 16px;
}

.board {
  background-color: lightgrey;
  display: inline-grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border: 1px solid black;
}

.boardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.cell {
  border: 1px solid black;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cell:hover {
  background-color: grey;
}

.ship {
  background-color: darkcyan;
}
