body {
  display: flex;
  justify-content: center;
}

.board {
  margin: auto;
  background-color: lightgrey;
  display: inline-grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
  text-align: center;
  padding-top: 15px;
}

.ship {
  background-color: darkcyan;
}
